* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #e2e4ec;
}

h1 {
  font-size: 30px;
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  color: #070d3c;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: #070d3c;
}

.logo-bar,
#navbar {
  height: 48px;
  padding: 0 80px;
  background: #070d3c;
  border-bottom: 2px solid #e2e4ec;
}

.logo-bar .logo {
  height: 90%;
}

.hamburger {
  display: none;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .nav-link {
  font-weight: 400;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#navbar .nav-link:hover {
  text-decoration: underline;
}

.history-bar {
  height: 32px;
  padding: 0 80px;
  border-bottom: 2px solid #e2e4ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history-bar .history {
  color: #070d3c;
  font-size: 12px;
}

#chi-siamo {
  padding: 32px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scopri-di-piu {
  font-size: 12px;
  font-weight: 500;
  color: #ed1a2e;
  width: 120%;
}

.chi-siamo-img {
  min-width: 640px;
  min-height: 360px;
  background-size: cover;
}

.entry {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px 0;
}

.entry .img-container {
  width: 640px;
}

.entry .didascalia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 48px;
}

.big-entry {
  width: 1034px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.big-entry .big-entry-img {
  background-size: cover;
}

.big-entry .didascalia {
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.big-entry .didascalia .big-entry-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.big-entry .didascalia .big-entry-headline .title {
  margin-top: 16px;
}

.big-entry .didascalia .big-entry-body {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#la-nostra-offerta {
  background: #070d3c;
  height: 384px;
  margin-bottom: 128px;
}

#la-nostra-offerta .presentazione {
  padding: 32px 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#la-nostra-offerta .presentazione .offerta-headline h1 {
  margin-top: 16px;
  color: #e2e4ec;
}

#la-nostra-offerta .presentazione .offerta-body {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#la-nostra-offerta .presentazione .offerta-body p {
  color: #e2e4ec;
}

#la-nostra-offerta .presentazione .offerta-body .scopri-i-brand {
  padding: 0 4px;
  width: 30%;
  text-align: center;
  border-bottom: 2px solid #e2e4ec;
  -webkit-transition: all 0s;
  transition: all 0s;
}

#la-nostra-offerta .presentazione .offerta-body .scopri-i-brand:hover {
  border-bottom: 2px solid #070d3c;
}

#la-nostra-offerta .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  padding: 16px 160px;
  cursor: pointer;
  overflow: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

#la-nostra-offerta .carousel .carousel-img-container {
  min-width: 384px;
  height: 216px;
  margin-right: 32px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 16px #464646;
          box-shadow: 0 0 16px #464646;
}

#la-nostra-offerta .carousel .buffer {
  min-width: 128px;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#la-nostra-offerta .carousel::-webkit-scrollbar {
  display: none;
}

#magazine {
  background: #e2e4ec;
  padding: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#magazine .scopri-di-piu {
  width: 100%;
  font-size: 14px;
}

#magazine h1 {
  margin: 16px 0;
}

#magazine .magazine-link {
  color: #070d3c;
  margin-top: 16px;
  padding: 4px 6px;
  border-bottom: 1px solid #070d3c;
  -webkit-transition: all 0s;
  transition: all 0s;
}

#magazine .magazine-link:hover {
  border-bottom: 1px solid #e2e4ec;
}

#footer {
  height: 96px;
  padding: 0 80px;
  background: #070d3c;
  border-top: 2px solid #e2e4ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-logo {
  height: 30%;
  margin-right: 24px;
}

#footer .footer-link {
  color: #e2e4ec;
  font-size: 14px;
  padding: 0 8px;
  border-right: 1px solid #e2e4ec;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#footer .footer-link:hover {
  text-decoration: underline;
}

#footer .footer-link:last-child {
  border: none;
}

@media only screen and (max-width: 768px) {
  .chi-siamo-img {
    min-width: 128px;
    height: 72px;
  }
}
/*# sourceMappingURL=styles.css.map */