$dark-blue: #070d3c;
$light-grey: #e2e4ec;
$work-sans: 'Work Sans', sans-serif;
$playfair: 'Playfair Display', sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $work-sans;
}

a {
	text-decoration: none;
	color: $light-grey;
}

h1 {
	font-size: 30px;
	font-family: $playfair;
	font-weight: bold;
	color: $dark-blue;
}

p {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.71;
	color: $dark-blue;
}

.logo-bar,
#navbar {
	height: 48px;
	padding: 0 80px;
	background: $dark-blue;
	border-bottom: 2px solid $light-grey;
}

.logo-bar {
	.logo {
		height: 90%;
	}
}

.hamburger {
	display: none;
}

#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.nav-link {
		font-weight: 400;
		transition: all 0.2s;

		&:hover {
			text-decoration: underline;
		}
	}
}

.history-bar {
	height: 32px;
	padding: 0 80px;
	border-bottom: 2px solid $light-grey;
	display: flex;
	align-items: center;

	.history {
		color: $dark-blue;
		font-size: 12px;
	}
}

#chi-siamo {
	padding: 32px 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.scopri-di-piu {
	font-size: 12px;
	font-weight: 500;
	color: #ed1a2e;
	width: 120%;
}

.entry {
	width: 100%;
	display: flex;
	margin: 32px 0;

	.chi-siamo-img {
		width: 50%;
		height: 360px;
		background-size: cover;
	}

	.didascalia {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		padding: 48px;
	}
}

.big-entry {
	width: 1034px;
	display: flex;
	flex-direction: column;

	.big-entry-img {
		width: 100%;
		height: 400px;
		background-size: cover;
	}

	.didascalia {
		padding: 32px 0;
		display: flex;
		justify-content: space-between;

		.big-entry-headline {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.title {
				margin-top: 16px;
			}
		}

		.big-entry-body {
			width: 65%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
}

#la-nostra-offerta {
	background: $dark-blue;
	height: 384px;
	margin-bottom: 128px;

	.presentazione {
		padding: 32px 160px 0;
		display: flex;
		justify-content: space-between;

		.offerta-headline {
			h1 {
				margin-top: 16px;
				padding-right: 24px;
				color: $light-grey;
			}
		}

		.offerta-body {
			width: 65%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			p {
				color: $light-grey;
			}

			.scopri-i-brand {
				padding: 0 4px;
				width: 30%;
				text-align: center;
				border-bottom: 2px solid $light-grey;
				transition: all 0s;

				&:hover {
					border-bottom: 2px solid $dark-blue;
				}
			}
		}
	}

	.carousel {
		display: flex;
		margin-top: 64px;
		padding: 16px 160px;
		cursor: pointer;
		overflow: scroll;
		overflow: -moz-scrollbars-none;
		-ms-overflow-style: none;

		.carousel-img-container {
			min-width: 384px;
			height: 216px;
			margin-right: 32px;
			background: white;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0 0 16px rgb(70, 70, 70);
		}

		.buffer {
			min-width: 128px;
			background: none;
			box-shadow: none;
		}

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

#magazine {
	background: $light-grey;
	padding: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	.scopri-di-piu {
		width: 100%;
		font-size: 14px;
	}

	h1 {
		margin: 16px 0;
	}

	.magazine-link {
		color: $dark-blue;
		margin-top: 16px;
		padding: 4px 6px;
		border-bottom: 1px solid $dark-blue;
		transition: all 0s;

		&:hover {
			border-bottom: 1px solid $light-grey;
		}
	}
}

#footer {
	height: 96px;
	padding: 0 80px;
	background: $dark-blue;
	border-top: 2px solid $light-grey;
	display: flex;
	align-items: center;

	.footer-logo {
		height: 30%;
		margin-right: 24px;
	}

	.footer-link {
		color: $light-grey;
		font-size: 14px;
		padding: 0 8px;
		border-right: 1px solid $light-grey;
		cursor: pointer;
		transition: all 0.2s;

		&:hover {
			text-decoration: underline;
		}

		&:last-child {
			border: none;
		}
	}
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 24px;
	}

	.logo-bar {
		padding: unset;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#navbar {
		display: none;
	}

	.history-bar {
		padding: 0 8px;
	}

	#chi-siamo {
		padding: 16px 8px;
	}

	.scopri-di-piu {
		width: unset;
	}

	.entry {
		flex-direction: column;
		margin: 16px 0;

		.chi-siamo-img {
			width: 100%;
			height: 202px;
		}

		.didascalia {
			width: 100%;
			text-align: left;
			padding: 16px;

			h1 {
				padding: 4px 0;
			}

			p {
				padding: 8px 0;
			}
		}

		&.reverse {
			flex-direction: column-reverse;
		}
	}

	.big-entry {
		width: 100%;

		.big-entry-img {
			height: 160px;
		}

		.didascalia {
			padding: 16px 0;
			flex-direction: column;

			.big-entry-headline {
				flex-direction: row;

				.title {
					margin: unset;
					text-align: right;
				}
			}

			.big-entry-body {
				padding: 16px 0;
				width: 100%;

				p:first-child {
					padding-bottom: 16px;
				}
			}
		}
	}

	#la-nostra-offerta {
		.presentazione {
			padding: 16px 32px 0;
			flex-direction: column;

			.offerta-headline {
				display: flex;
				padding: 8px 0;

				h1 {
					margin: unset;
					padding-right: 0;
					padding-left: 24px;
					text-align: right;
				}
			}

			.offerta-body {
				width: 100%;
				padding: 8px 0;

				.scopri-i-brand {
					width: 75%;
					align-self: center;
					margin-top: 16px;
				}
			}
		}

		.carousel {
			margin-top: 8px;
			padding: 16px 32px;

			.carousel-img-container {
				width: 256px;
				height: 168px;
			}

			.buffer {
				min-width: 1px;
			}
		}
	}

	#footer {
		flex-direction: column-reverse;
		padding: 0 8px;
		justify-content: space-around;

		.footer-link {
			font-size: 10px;
		}
	}
}
