$dark-blue: #070d3c;
$light-grey: #e2e4ec;
$work-sans: 'Work Sans', sans-serif;
$playfair: 'Playfair Display', sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $work-sans;
}

a {
	text-decoration: none;
	color: $light-grey;
}

h1 {
	font-size: 30px;
	font-family: $playfair;
	font-weight: bold;
	color: $dark-blue;
}

p {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.71;
	color: $dark-blue;
}

.logo-bar,
.navbar {
	height: 48px;
	padding: 0 80px;
	background: $dark-blue;
	border-bottom: 2px solid $light-grey;
}

.logo-bar {
	.logo {
		height: 90%;
	}
}

.hamburger {
	display: none;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.nav-link {
		font-weight: 400;
		transition: all 0.2s;

		&:hover {
			text-decoration: underline;
		}
	}
}

.history-bar {
	height: 32px;
	padding: 0 80px;
	border-bottom: 2px solid $light-grey;
	display: flex;
	align-items: center;

	.history {
		color: $dark-blue;
		font-size: 12px;
	}
}

.chi-siamo {
	padding: 32px 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.scopri-di-piu {
	font-size: 12px;
	font-weight: 500;
	color: #ed1a2e;
	width: 120%;
}

.entry {
	width: 100%;
	display: flex;
	margin: 32px 0;

	.img-container {
		width: 640px;
	}

	.didascalia {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		padding: 48px;
	}
}

.big-entry {
	width: 1034px;
	display: flex;
	flex-direction: column;

	.didascalia {
		padding: 32px 0;
		display: flex;
		justify-content: space-between;

		.big-entry-headline {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.title {
				margin-top: 16px;
			}
		}

		.big-entry-body {
			width: 65%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
}

.footer {
	height: 96px;
	padding: 0 80px;
	background: $dark-blue;
	border-top: 2px solid $light-grey;
	display: flex;
	align-items: center;

	.footer-logo {
		height: 30%;
		margin-right: 24px;
	}

	.footer-link {
		color: $light-grey;
		font-size: 14px;
		padding: 0 8px;
		border-right: 1px solid $light-grey;
		cursor: pointer;
		transition: all 0.2s;

		&:hover {
			text-decoration: underline;
		}

		&:last-child {
			border: none;
		}
	}
}
