$dark-blue: #070d3c;
$light-grey: #e2e4ec;
$work-sans: 'Work Sans', sans-serif;
$playfair: 'Work Sans', sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $work-sans;
}

a {
	text-decoration: none;
	color: $light-grey;
}

.logo-bar,
.navbar {
	height: 48px;
	padding: 0 80px;
	background: $dark-blue;
	border-bottom: 2px solid $light-grey;
}

.logo-bar {
	.hamburger {
		display: none;
	}

	.logo {
		height: 90%;
	}
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.nav-link {
		font-weight: 400;
		transition: all 0.2s;
	}

	.nav-link:hover {
		text-decoration: underline;
	}
}

.history-bar {
	height: 32px;
	padding: 0 80px;
	border-bottom: 2px solid $light-grey;
	display: flex;
	align-items: center;

	.history {
		color: $dark-blue;
		font-size: 12px;
	}
}
